/* Modal styled inside Modal.js

.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: wheat;
	background-color: whitesmoke;
	z-index: 1;
}

.modal {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.modal-main {
	position: fixed;
	padding: 10px;
	background: wheat;
	width: 50%;
	height: auto;
	text-align: center;
	border-radius: 4%;
	border: solid 10px;
	border-color: tomato;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

*/
